* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.margin-0 {
  margin: 0 !important;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.event-card-img {
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.event-card-symbols {
  top: 1em;
    right: 1.5em;
    z-index: 1000;
    background: #0C0024;
    border-radius: 100%;
    padding-top: 0.5em;
    padding-bottom: .1em;
    padding-left: .5em;
    padding-right: .5em;
}

.date-wrapper {
  width: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-self: center;
}

.date{
    width: min-intrinsic;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    display: table-caption;
    display: -ms-grid;
    -ms-grid-columns: min-content;
    font-size: 1.2rem;
    font-weight: 600;
}

.flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.justify-end {
  justify-content: end;
}

.align-items-end {
  align-items: end;
}

.pt-3 {
  padding-top: 3rem;
}

.app {
  background: #0c0024;
  min-height: 100vh;
}

.nav-hero-container {
  background: #0c0024;
  background-image: url("../assets/home-hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.h1-p-container {
  width: 50vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 6em;
  margin-bottom: 7em;
}

h1 {
  color: #fff;
  text-align: center;
  text-shadow:
    0 4px 20px rgba(0, 0, 0, 0.35),
    0 4px 4px rgba(0, 0, 0, 0.15),
    0 6px 16px rgba(0, 0, 0, 0.15);
  font-size: 3.65rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.52px;
  padding: 0;
  margin: 0;
}

h2 {
  color: #fff;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0;
  margin: 0;
}

h3 {
  color: #F3F3F3;
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.52px;
  padding: 0;
  margin: 0;
}

h4 {
  color: #F3F3F3;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.52px;
  padding: 0;
  margin: 0;
}

.hero-p {
  color: #ebebeb;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 30vw;
  margin: auto;
  padding-top: 1.2em;
}

/* Button Styles */
.btn-primary {
  background: #d9d9d9;
  color: #090022;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 200px;
  padding: 1em 2.3em;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: inherit;
  transition: transform 400ms ease-out 100ms;
}
.btn-primary:hover {
  background-color: #c1c1ff;
  border: none;
  outline: none;
  color: #000;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: transform 300ms ease-out;
  transform: scale(1.02);
  transition-delay: 50ms
}

.btn-primary:active {
  transform: scale(0.98);
  transition: transform 100ms ease-in;
}

.btn-primary:disabled {
  background-color: #c2c2c2;
  color: #090022;
  cursor: not-allowed;
  border: none;
  outline: none;
}
.btn-primary:focus {
  outline: 3px solid #ffff00;
}

.btn-secondary {
  background: transparent;
  color: #d9d9d9;
  cursor: pointer;
  border: 2px solid #d9d9d9;
  outline: none;
  border-radius: 31px;
  padding: 1em 2.3em;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: inherit;
  transition: transform 400ms ease-out 100ms;
}
.btn-secondary:hover {
  background-color: #c1c1ff;
  border: 2px solid #c1c1ff;
  outline: none;
  color: #000;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: transform 300ms ease-out;
  transform: scale(1.02);
  transition-delay: 50ms
}
.btn-secondary:disabled {
  background-color: transparent;
  color: #5a5a5a;
  cursor: not-allowed;
  border: 2px solid #5a5a5a;
  outline: none;
}
.btn-secondary:focus {
  outline: 3px solid #ffff00;
}

.btn-secondary:active {
  transform: scale(0.98);
  transition: transform 100ms ease-in;
}

/* Search form styles */
.search-form {
  align-items: center;
  justify-content: center;
  text-align: start;
  align-content: space-evenly;
}

/* Responsive Grid Container & Columns */
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  width: 100%;
  margin: 1rem auto;
  max-width: 1200px;
}

.gap-2 {
  gap: 2em!important;
}

/*Error message*/
.error-message {
  margin-top: 0.5em;
  color: #fd2121;
  font-weight: 500;
}

/*Flex classes*/
.display-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

/* Column classes */
.col-1 {
  grid-column: span 1;
}
.col-2 {
  grid-column: span 2;
}
.col-3 {
  grid-column: span 3;
}
.col-4 {
  grid-column: span 4;
}
.col-5 {
  grid-column: span 5;
}
.col-6 {
  grid-column: span 6;
}
.col-7 {
  grid-column: span 7;
}
.col-8 {
  grid-column: span 8;
}
.col-9 {
  grid-column: span 9;
}
.col-10 {
  grid-column: span 10;
}
.col-11 {
  grid-column: span 11;
}
.col-12 {
  grid-column: span 12;
}

.gap-2 {
  gap: 2em;
}

.gap-3 {
  gap: 3em;
}

.event-card {
  /* display: flex;
  flex-direction: column; */
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(21px);
  border-radius: 25px;
  height: 100%;

}

.event-card:hover {
  cursor: pointer;
box-shadow: rgba(255, 255, 255, 0.2) 0px 8px 24px;
transition: transform 300ms ease-out;
  transform: scale(1.02);
  transition-delay: 50ms
}

.event-card img {
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.event-card-content {
  padding: 1em;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  padding-right: 1.4em;
}

.input-field {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 2rem;
  border-bottom: 1px solid #ccc;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1.2rem;
  background: none;
  outline: none;
}

.input-field:focus {
  border-bottom: 2px solid #c1c1ff;
  background: #090022;
}

input::placeholder {
  color: #ffffff;
}

.select-label {
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
}

select,
::picker(select) {
  appearance: base-select;
}

select {
  border-radius: 0;
  transition: 0.4s;
  cursor: pointer;
}

select::picker-icon {
  transition: 0.4s rotate;
  content: url("./assets/down-arrow.svg");
}

::picker(select) {
  border: none;
  top: calc(anchor(bottom) + 1px);
}

option {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.1rem;
  width: 100%;
}

option:hover {
  background: #404040;
}

option:checked {
  font-weight: bold;
}

option::checkmark {
  content: "✔️";
}

.select-field {
  border-bottom: 1px solid #ccc;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1.2rem;
  background: none;
  outline: none;
  background: transparent;
  width: 100%;
  color: #ffffff !important;
  margin-top: 1.5rem;
}

.select-field:focus {
  border-bottom: 2px solid #c1c1ff;
  background: #090022;
}

.select-field:open::picker-icon {
  transition: 0.4s rotate !important;
  rotate: 180deg !important;
}

option,
.select-field-option {
  background: #090022;
  display: flex;
  justify-content: flex-start;
  transition: 0.4s;
  width: auto;
}

.border-bottom-none {
  border-bottom: none !important;
}

/* Symbol styles */
.symbols-h2 {
  margin-bottom: 1.2em;
}

.symbol-eye {
  margin-right: 0.7em;
  vertical-align: middle;
}

.symbol-telescope {
  vertical-align: middle;
  margin-right: 0.7em;
}

.symbol-explanations {
  margin-top: .9em;
  margin-bottom: .55em;
}

/* Navbar styles */
.logo {
  height: auto;
  width: 4.3em;
}

nav {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3em;
  padding-bottom: 1em;
  padding-left: 5em;
  padding-right: 5em;
  width: 90vw;
  margin: auto;
}

.logo {
  font-size: 1.5rem;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-right: 20px;
}

ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 1.2rem;
}

ul li a:hover {
  color: #c1c1ff;
}

.checkbtn {
  font-size: 2rem;
  color: white;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/*Left arrow*/
.left-arrow {
  margin-right: 0.9em;
  vertical-align: middle;
}

/* Glassmorphism card styles */
.glass-card {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(21px);
  -webkit-backdrop-filter: blur(21px);
  border-radius: 25px;
  box-shadow:
    0 8px 32px rgba(255, 255, 255, 0.08),
    inset 0 1px 0 rgba(255, 255, 255, 0.08),
    inset 0 -1px 0 rgba(255, 255, 255, 0.08),
    inset 0 0 20px 10px rgba(255, 255, 255, 0.08);
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 5em;
}

.footer {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(21px);
  -webkit-backdrop-filter: blur(21px);
  box-shadow: 0 8px 32px rgba(255, 255, 255, 0.08);
  padding-top: 3em;
  padding-bottom: 3em;
  width: 100%;
  margin-top: 40em;
}

.footer-content {
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer-saturn {
  vertical-align: middle;
  height: 1.2em;
}

/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  touch-action: none!important;
  -webkit-overflow-scrolling: none!important;
  overflow: hidden!important;
  overscroll-behavior: contain!important;
}

.modal-overlay:focus {
  outline: none;
}

.modal-content {
  background: #1F1436;
  color: #fff;
  border-radius: 20px;
  max-width: 77.4375rem;
  max-height: 69.3125rem;
  width: 50vw;
  height: 85vh;
  position: relative;
  box-shadow: 0 8px 32px rgba(0,0,0,0.25);
  touch-action: none!important;
  -webkit-overflow-scrolling: none!important;
  overflow: hidden!important;
  overscroll-behavior: contain!important;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

.modal-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  padding: 0;
  margin: 0;
}

.modal-text {
  padding: 2rem;
  overflow-y: auto;
  height: calc(100% - 4rem);
}

.modal-text > h2 {
  margin-top: 0;
  margin-bottom: .7em;
  font-size: 2rem;
}


/* Media queries */
@media (max-width: 900px) {
  .container {
    grid-template-columns: repeat(6, 1fr);
  }
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    grid-column: span 6;
  }
}

@media (max-width: 768px) {
  .logo {
    height: auto;
    width: 4.5em;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.9rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  .h1-p-container {
    width: 100%;
    margin: auto;
  }

  .hero-p {
    font-size: 1rem;
    width: auto;
    padding-top: 1em;
  }

  main {
    height: auto;
  }

  .app {
    width: 100vw;
    padding-right: 1rem;
    padding-left: 1rem;
    background-position: center;
  }

  nav {
    padding: 1rem 1rem;
  }

  .checkbtn {
    display: block;
    order: 1;
    margin-right: 20px;
  }

  ul {
    position: fixed;
    top: 80px;
    right: -100%;
    background-color: #0c0024;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }

  ul li {
    margin: 20px 0;
  }

  ul li a {
    font-size: 1.1rem;
  }

  #check:checked ~ ul {
    right: 0;
  }

  .glass-card {
    width: 90vw;
    height: auto;
    margin-top: 2rem;
    flex-direction: column;
    padding-left: 1em;
  }

  .search-form {
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 1rem;
  }

  .search-form > .form-group {
    margin-right: 0em;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    padding: 0rem;
  }
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    grid-column: span 1;
  }
}
