#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btn-primary {
  background: #D9D9D9;
  color: #090022;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 31px;
  padding: 0.6em 1.2em;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: inherit;
  transition: background-color 0.25s, color 0.25s;
}
.btn-primary:hover {
  background-color: #c1c1ff;
  border: none;
  outline: none;
  color: #000;
}
.btn-primary:disabled {
  background-color: #c2c2c2;
  color: #090022;
  cursor: not-allowed;
  border: none;
  outline: none;
}
.btn-primary:focus {
  outline: 3px solid #ffff00;
}

.btn-secondary {
  background: transparent;
  color: #D9D9D9;
  cursor: pointer;
  border: 2px solid #D9D9D9;
  outline: none;
  border-radius: 31px;
  padding: 0.6em 1.2em;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: inherit;
  transition: background-color 0.25s, color 0.25s, border-color 0.25s;
}
.btn-secondary:hover {
  background-color: #c1c1ff;
  border: 2px solid #c1c1ff;
  outline: none;
  color: #000;
}
.btn-secondary:disabled {
  background-color: transparent;
  color: #5a5a5a;
  cursor: not-allowed;
  border: 2px solid #5a5a5a;
  outline: none;
}
.btn-secondary:focus {  
  outline: 3px solid #ffff00;
} 

.search-form {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.event-list {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}

.event-card {
  background: #1a1a40;
  padding: 1rem;
  border-radius: 0.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem;
}

.input-label {
  margin-bottom: 1rem;
  font-weight: 500;
}

.input-field {
  padding: .5rem;
  border-bottom: 1px solid #ccc;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1rem;
  background: none;
  outline: none;
}

.input-field:focus {
  border-bottom: 2px solid #c1c1ff;
}